<template>
  <div class="document">
    <!-- 导航 -->
    <nav-bar :activeIndex="2"></nav-bar>
    <div class="banner"></div>
    <div v-if="documentData">
      <div class="main_container document_content">
        <div class="title">
          <div class="title_text">{{documentData.title}}</div>
          <div class="btn" @click="openLink">
            <span class="btn_icon"></span>
            阅读原文
          </div>
        </div>
        <div class="author">{{documentData.author}}</div>
        <!-- <div class="position">
        您当前所在位置：
        <span class="tabName">医生专栏</span> >
        <span class="tabName">指南推荐</span>
        </div>-->
        <div class="keyword">
          <span class="keyword_title">关键词：</span>
          <span
            v-for="(item,index) in documentData.keywords"
            :key="index"
            class="keyword_item"
          >{{item}}</span>
        </div>
        <div class="des">
          <span class="des_title">摘要：</span>
          <span class="des_content" v-html="documentData.summary"></span>
        </div>
        <!-- <div class="document_img">
        <img src="@/assets/document_content.png" alt />
        </div>-->
      </div>
    </div>
    <div class="no_content" v-else>
      抱歉，文章不存在
    </div>

    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
import { getDoctorList } from "@/server.js";
import { getParam } from "@/util.js";

export default {
  name: "document",
  data() {
    return {
      id: "",
      documentData: {}
    };
  },
  components: {
    navBar,
    footerBar
  },
  mounted() {
    this.id = getParam().id;
    this.type = getParam().type || 1;
    let query = {
      ftype: this.type == 1 ? "指南推荐" : "相关文献",
      per_page: 10000000,
      page_index: 1
    };
    getDoctorList(query).then(res => {
      if (res.code == 0) {
        this.documentData = res.data.filter(obj => {
          return obj._id === this.id;
        });
      }
      this.documentData = this.documentData[0];
      console.log("documentData", this.documentData);
    });
  },
  methods: {
    openLink() {
      window.open(this.documentData.link);
    }
  }
};
</script>


<style lang="less">
.document {
  .document_content {
    padding-bottom: 6rem;
  }
  .no_content {
    color: #666666;
    margin: 10rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    width: 100%;
    height: 14rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/document_bg.png");
  }
  .title {
    font-size: 1.4rem;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .title_text {
      width: 80%;
    }
  }
  .author {
    font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #666666;
    margin: 0.5rem 0 2.9rem 0;
    padding-bottom: 1.15rem;
    border-bottom: 1px solid #d8d8d8;
  }
  .keyword {
    font-size: 1rem;
    color: #333333;

    .keyword_title {
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 600;
    }
    .keyword_item {
      margin-right: 1rem;
      color: rgb(0, 71, 140);
    }
    margin-bottom: 1.5rem;
  }
  .des {
    font-size: 1rem;
    color: #333333;
    .des_title {
      font-weight: 600;
      font-family: PingFangSC-Semibold, PingFang SC;
    }

    .des_content {
      line-height: 2rem;
    }
  }
  .document_img {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
    }
  }
  .btn {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    padding: 0.7rem 2.4rem;
    border: 1px solid rgb(0, 71, 140);
    // margin-bottom: 7.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgb(0, 71, 140);
    line-height: 1.4rem;

    .btn_icon {
      display: inline-flex;
      width: 1rem;
      height: 1.2rem;
      background: url("../../../assets/book.png") no-repeat;
      background-size: contain;
      margin-right: 0.5rem;
    }
  }
}
</style>

