<template>
  <div class="pro_des">
    <!-- 导航 -->
    <nav-bar :activeIndex="1"></nav-bar>
    <div class="banner">
      <div class="banner_text">
        格乐立
        <span class="right_text">®</span>产品说明书
      </div>
    </div>
    <div class="des_content main_container">
      <div class="position">
        您当前所在位置：
        <span class="tabName">关于格乐立</span> >
        <span class="tabName">产品说明书</span>
      </div>
      <div class="pro_containr">
        <div class="left_wrap">
          <img class="pro_img" src="@/assets/pro.png" alt="产品说明书" />
        </div>
        <div class="right_wrap">
          <div class="top_content">
            <div class="right_decard">
              格乐立
              <span class="right_text">®</span>
            </div>
            <div class="right_title">阿达木单抗注射液</div>
            <div class="use_text">40mg/0.8ml/支/盒，皮下注射</div>
          </div>
          <div class="middle_content">
            <div class="des_item">适应症：</div>
            <div class="ajust">
              <div class="ajust_item">
                <span class="icon"></span>
                <div class="name">类风湿关节炎</div>
              </div>
              <div class="ajust_item">
                <span class="icon"></span>
                <div class="name">强直性脊柱炎</div>
              </div>
              <div class="ajust_item">
                <span class="icon"></span>
                <div class="name">银屑病</div>
              </div>
              <div class="ajust_item">
                <span class="icon"></span>
                <div class="name">克罗恩病</div>
              </div>
              <div class="ajust_item">
                <span class="icon"></span>
                <div class="name">葡萄膜炎</div>
              </div>
            </div>
          </div>
          <div class="bottom_content">
            <div class="des_item">
              通用名：阿达木单抗注射液，商品名：格乐立
              <span class="right_text">®</span>。阿达木单抗是在中国仓鼠卵巢细胞中表达的重组全人源化抗肿瘤坏死因子α单克隆抗体。 公司自主研发的格乐立
              <span class="right_text">®</span>（阿达木单抗注射液）已获得国家药监局的上市批准，用于治疗类风湿关节炎、强直性脊柱炎、银屑病、克罗恩病、葡萄膜炎等自身免疫性疾病，是国内首个批准上市的阿达木单抗生物类似药。
            </div>
          </div>
          <div class="pro_file" @click="openProDes"> 
            <div class="btn">
              <span class="download_icon"></span>药品说明书
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
export default {
  name: "productDescritption",
  components: {
    navBar,
    footerBar
  },
  mounted() {},
  methods: {
    openProDes() {
      window.open("http://qletli.maiduote.com/uploads/pdf/productDescritption.pdf")
    }
  }
};
</script>


<style lang="less">
.pro_des {
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/pro_des.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .des_content {
    width: 65%;
    margin: 0 auto 4rem auto;
    display: flex;
    flex-direction: column;
    .pro_containr {
      display: flex;
      margin-top: 2rem;
    }
    .left_wrap {
      width: 50%;
      flex-shrink: 0;
      margin-right: 2rem;
      .pro_img {
        width: 100%;
        height: 40rem;
        object-fit: contain;
      }
    }
    .right_wrap {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .ajust {
        margin-top: 0.5rem;
        .ajust_item {
          display: inline-flex;
          align-items: center;
          min-width: 30%;
          font-size: 0.91rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #333333;
          line-height: 1.28rem;
        }
        .icon {
          width: 0.84em;
          height: 0.68em;
          display: inline-flex;
          background-image: url("../../../assets/select.png");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          margin-right: 0.5rem;
        }
      }
      .top_content {
        padding-bottom: 0.84rem;
      }
      .middle_content {
        padding: 1.24rem 0;
        border-bottom: 1px solid #d8d8d8;
        border-top: 1px solid #d8d8d8;
      }
      .bottom_content {
        padding-top: 1.46rem;
        font-size: 0.73rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 1.46rem;
      }
      .pro_file {
        margin-top: 2rem;
        .btn {
          padding: 0.4rem 0.8rem;
          border-radius: 4px;
          border: 1px solid #979797;
          font-size: 0.9rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #333333;
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          .download_icon {
            width: 0.8rem;
            height: 0.9rem;
            display: inline-flex;
            background-image: url("../../../assets/download.png");
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 0.5rem;
          }
        }
      }
      .right_text {
        font-size: 0.6rem;
        position: relative;
        top: -0.5rem;
        left: -0.3rem;
        margin-bottom: 0.12rem;
      }
      .right_title {
        font-size: 1.37rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 1.91rem;
      }
      .use_text {
        font-size: 0.91rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #666666;
        line-height: 1.28rem;
      }
      .right_decard {
        font-size: 0.91rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #666666;
        line-height: 1.28rem;
      }
      .des_item {
        .right_text {
          font-size: 0.3rem;
          position: relative;
          top: -0.38rem;
          left: -0.28rem;
        }
      }
    }
  }
}
</style>

