<template>
  <div class="use_page">
    <!-- 导航 -->
    <nav-bar :activeIndex="1"></nav-bar>
    <div class="banner">
      <div class="banner_text">
        格乐立
        <span class="right_text">®</span>用法计量指引
      </div>
    </div>
    <div class="use_content main_container">
      <div class="position">您当前所在位置：<span class="tabName">关于格乐立</span> > <span class="tabName">用法用量指引</span></div>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="强直性脊柱炎" name="first">
          <div class="use_item">
            <div class="use_img">
              <div class="date_item">
                <span class="date_text">第1天</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img src="@/assets/pro.png" alt />
              </div>
            </div>
            <div class="use_des">皮下注射，对于患有强直性脊柱炎的成人患者，建议用量为40mg阿达木单抗，每两周皮下注射单剂量给药。</div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="类风湿关节炎" name="second">
          <div class="use_item">
            <div class="use_img">
              <div class="date_item">
                <span class="date_text">第1天</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img src="@/assets/pro.png" alt />
              </div>
            </div>
            <div class="use_des">皮下注射，对于患有类风湿关节炎的成人患者，建议用量为40mg阿达木单抗，每两周皮下注射单剂量给药。</div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="银屑病" name="third">
          <div class="use_item">
            <div class="use_img">
              <div class="date_item">
                <span class="date_text">第1天</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+1周</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img src="@/assets/pro.png" alt />
              </div>
            </div>
            <div class="use_des">对于患有银屑病的成人患者，本品的建议用量为首次皮下注射80mg，然后自首次给药后一周开始每两周皮下注射40mg。</div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="克罗恩病" name="fourth">
          <div class="use_item keluoen">
            <div class="use_img">
              <div class="date_item">
                <span class="date_text">第1天</span>
                <img class="img_1" src="@/assets/pro_4.png" alt />
              </div>
              <!-- <span class="date_text date_text_more">>></span> -->
              <div class="date_item">
                <span class="date_text">第15天</span>
                <img class="img_2" src="@/assets/pro_2.png" alt />
              </div>
              <!-- <span class="date_text date_text_more">>></span> -->
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img class="img_3" src="@/assets/pro.png" alt />
              </div>
              <!-- <span class="date_text date_text_more">>></span> -->
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img class="img_4" src="@/assets/pro.png" alt />
              </div>
            </div>
            <div
              class="use_des"
            >对于患有克罗恩病的成人患者，首次（第1天）给药建议用量为160mg 阿达木单抗，第二次（第15天）给药建议用量为80mg 阿达木单抗，两周后（第29天）给药建议用量为40mg 阿达木单抗，之后维持用量为40mg 阿达木单抗，每两周皮下注射单剂量给药。</div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="葡萄膜炎" name="fifth">
          <div class="use_item">
            <div class="use_img">
              <div class="date_item">
                <span class="date_text">第1天</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+1周</span>
                <img src="@/assets/pro.png" alt />
              </div>
              <span class="date_text date_text_more">>></span>
              <div class="date_item">
                <span class="date_text">+2周</span>
                <img src="@/assets/pro.png" alt />
              </div>
            </div>
            <div class="use_des">对于患有葡萄膜炎的成人患者，本品的建议用量为首次皮下注射80mg，然后自首次给药后一周开始每两周皮下注射40mg。</div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
export default {
  name: "usePage",
  data() {
    return {
      activeName: "first"
    };
  },
  components: {
    navBar,
    footerBar
  },
  mounted() {},
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    }
  }
};
</script>


<style lang="less">

.use_page {
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/use_bg.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .use_content {
    width: 65%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    .el-tabs {
      width: 100%;
    }
    .use_item {
      padding: 3.5rem 0;
      .use_img {
        display: flex;
        justify-content: space-evenly;
        font-size: 0.8rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 1.11rem;
        .date_text_more {
          color: #999999;
        }
        .date_item {
          display: flex;
        }
        .date_text {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1.2rem;
        }
        img {
          width: 7.5rem;
          height: 10rem;
        }
      }
      .use_des {
        padding: 2rem 0;
      }
    }
    .keluoen {
      .use_img {
        display: flex;
        align-items: center;
        .date_item {
          // .date_text {
          //   margin-right: 0.8rem;
          // }
        }
        .img_1 {
          width: 18.5rem;
          height: 11rem;
        }
        .img_2 {
          width: 12rem;
          height: 11rem;
        }
        .img_3 {
          width: 6rem;
          height: 9rem;
        }
        .img_4 {
          width: 6rem;
          height: 9rem;
        }
      }
    }
  }
}
</style>

