<template>
  <div class="big_news">
    <!-- 导航 -->
    <nav-bar :activeIndex="1"></nav-bar>
    <div class="banner">
      <div class="banner_text">
        格乐立
        <span class="right_text">®</span>—— 首个国产阿达木单抗
      </div>
      <div class="banner_des">格乐立，还生命活力。是中国首个获批的国产阿达木单抗，关键质量属性、临床疗效、安全性与原研药物高度一致。</div>
    </div>
    <div class="main_container">
      <div class="position">您当前所在位置：<span class="tabName">关于格乐立</span> > <span class="tabName">格乐立大事件</span></div>
      <div class="tab">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="里程碑" name="all">
            <div class="time_content">
              <time-line :timelineList="totalList"></time-line>
            </div>
          </el-tab-pane>
          <el-tab-pane label="2020年" name="2020">
            <div class="time_content">
              <time-line :timelineList="timelineList"></time-line>
            </div>
          </el-tab-pane>
          <el-tab-pane label="2018年" name="2018">
            <div class="time_content">
              <time-line :timelineList="timelineList"></time-line>
            </div>
          </el-tab-pane>
          <el-tab-pane label="2017年" name="2017">
            <div class="time_content">
              <time-line :timelineList="timelineList"></time-line>
            </div>
          </el-tab-pane>
          <el-tab-pane label="2015年" name="2015">
            <div class="time_content">
              <time-line :timelineList="timelineList"></time-line>
            </div>
          </el-tab-pane>
          <el-tab-pane label="2013年" name="2013">
            <div class="time_content">
              <time-line :timelineList="timelineList"></time-line>
            </div>
          </el-tab-pane>
          <el-tab-pane label="2011年" name="2011">
            <div class="time_content">
              <time-line :timelineList="timelineList"></time-line>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
import timeLine from "@/components/timeLine.vue";
export default {
  name: "bigNews",
  data() {
    return {
      activeName: "all",
      timelineList: [],
      totalList: [
        {
          tag: "2020",
          date: "2020年8月",
          content: "获批葡萄膜炎适应症进军眼科领域"
        },
        {
          tag: "2020",
          date: "2020年7月",
          content: "获批克罗恩病适应症进军消化领域"
        },
        {
          tag: "2020",
          date: "2020年1月7日",
          content: "启动商业化上市"
        },
        {
          tag: "2019",
          date: "2019年11月",
          content: "格乐立获国家药品监督管理局批准上市"
        },
        {
          tag: "2018",
          date: "2018年8月",
          content:
            "格乐立提交上市申请，纳入优先审核程序；获得“十二五”重大专项支持"
        },
        {
          tag: "2017",
          date: "2017年9月",
          content: "生产工厂获得药品生产许可证"
        },
        {
          tag: "2017",
          date: "2017年8月",
          content: "百奥泰生产工厂通过欧盟QP认证"
        },
        {
          tag: "2015",
          date: "2015年12月",
          content: "获NMPA批准并启动四项临床研究"
        },
        {
          tag: "2013",
          date: "2013年5月",
          content: "向NMPA提交临床试验申请"
        },
        {
          tag: "2011",
          date: "2011年",
          content: "格乐立立项研发"
        }
      ]
    };
  },
  components: {
    navBar,
    footerBar,
    timeLine
  },
  mounted() {
    this.timelineList = this.totalList;
  },
  methods: {
    handleClick(tab) {
      console.log("tab", tab.name);
      if (tab.name == "all") {
        this.timelineList = this.totalList;
      } else {
        this.timelineList = this.totalList.filter(function(obj) {
          return obj.tag === tab.name;
        });
      }
    }
  }
};
</script>


<style lang="less">
.big_news {
  // .main_container {
  //   padding-top: 0;
  // }
  .time_content {
    margin-top: 2rem;
  }
  .el-tabs__item {
    font-size: 1.1rem;
    padding: 0.7rem 1.2rem;
    height: auto;
  }
  .el-timeline-item__node {
    background-color: #6988b7;
  }
  .el-timeline-item__timestamp {
    font-size: 1.4rem;
    color: #333333;
  }
  .el-timeline-item__timestamp.is-top {
    padding-top: 0;
  }
  .el-timeline-item__content {
    color: #a0a2a6;
  }
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/big_news_bg.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .banner_des {
      margin-top: 1.7rem;
      width: 50%;
      text-align: center;
      font-size: 1.3rem;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #ffffff;
      line-height: 2.1rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .tab {
    margin: 0 auto 2rem auto;
  }
}
</style>

