<template>
  <div class="contact">
    <!-- 导航 -->
    <nav-bar :activeIndex="4"></nav-bar>
    <div class="banner">
      <div class="banner_text">患者交流</div>
    </div>
    <div class="contact_content main_container">
      <div class="position">
        您当前所在位置：
        <span class="tabName">联系我们</span> >
        <span class="tabName">{{prosition_name}}</span>
      </div>
      <div class="customer">
        <div class="customer_img">
          <img src="@/assets/customer.png" alt />
        </div>
        <div
          class="phone"
          @mouseover="addAnimate('phone_icon', 'animated bounceIn')"
          @mouseout="removeAnimate('phone_icon', 'animated bounceIn')"
        >
          <div class="des">
            <div class="phone_icon">
              <img id="phone_icon" src="@/assets/phone.png" alt />
            </div>
            <div class="phone_title">咨询热线</div>
          </div>
          <div class="phone_num">400-9998-703</div>
        </div>
      </div>
      <div class="group">
        <div class="group_title">患者交流群</div>
        <div class="group_content">
          <div class="group_item group_1">
            <div class="group_img">
              <img src="@/assets/group1.png" alt />
            </div>
            <div class="des">
              <div class="des_item">强直、银屑病、克罗恩病、葡萄膜炎交流群</div>
              <div class="des_item">请添加管理员微信</div>
            </div>
          </div>
          <div class="group_item group_2">
            <div class="group_img">
              <img src="@/assets/group2.png" alt />
            </div>
            <div class="des">
              <div class="des_item">类风湿关节炎交流群</div>
              <div class="des_item">请添加管理员微信</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
import { addAnimate, removeAnimate, getParam } from "@/util.js";
export default {
  name: "app",
  components: {
    navBar,
    footerBar
  },
  data() {
    return {
      param: {},
      prosition_name: "患者交流群"
    };
  },
  computed: {
    addAnimate() {
      return addAnimate;
    },
    removeAnimate() {
      return removeAnimate;
    }
  },
  mounted() {
    this.param.type = getParam().type;
    this.prosition_name = this.param.type == 0 ? "患者交流群" : "咨询热线";
  }
};
</script>


<style lang="less">
.contact {
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../assets/contact_bg.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .contact_content {
    .customer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4rem 0;
      border-bottom: 1px solid #d8d8d8;
      .customer_img {
        img {
          width: 9rem;
          height: 11rem;
          margin-right: 5.2rem;
        }
      }
      .phone {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        .des {
          display: flex;
          align-items: center;
        }
        .phone_icon {
          margin-right: 0.6rem;
          img {
            width: 2em;
            height: 2em;
          }
        }
        .phone_title {
          font-size: 1.6rem;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: #333333;
          line-height: 2.5rem;
        }
        .phone_num {
          font-size: 1.9rem;
          font-family: PingFangSC-Semibold, PingFang SC;
          font-weight: 600;
          color: #3554aa;
          line-height: 2.95rem;
        }
      }
    }
    .group {
      display: flex;
      align-items: center;
      padding: 4rem 0;
      flex-direction: column;
      .group_title {
        width: 100%;
        font-size: 1.6rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 2.5rem;
        text-align: center;
      }
      .group_content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.95rem;

        .group_item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .group_img {
            img {
              width: 10rem;
              height: 10rem;
            }
          }
          .des {
            display: flex;
            flex-direction: column;
            align-items: center;
            .des_item {
              font-size: 0.8rem;
              font-family: PingFangSC-Medium, PingFang SC;
              font-weight: 500;
              color: #333333;
              line-height: 1.3rem;
            }
          }
        }
        .group_1 {
          margin-right: 9.5rem;
        }
      }
    }
  }
}
</style>

