<template>
  <div class="airticle">
    <!-- 导航 -->
    <nav-bar :activeIndex="3"></nav-bar>
    <div class="banner">
      <div class="banner_text">{{typeName}}康复百科</div>
    </div>
    <div class="news_content main_container" id="here">
      <div class="position">
        您当前所在位置：
        <span class="tabName">患者专栏</span> >
        <span class="tabName">{{position_name}}</span>
      </div>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane v-for="(item, index) in tabList" :key="item" :name="''+index" :label="item">
          <div class="news_container">
            <news-list
              picType="article"
              :list="list"
              :width="11.75"
              :height="6"
              @clickList="clickList(arguments)"
            ></news-list>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <div class="pagination">
      <el-pagination
        @current-change="changePage"
        :page-size="20"
        background
        layout="prev, pager, next"
        :total="100"
      ></el-pagination>
    </div>
    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
import newsList from "@/components/newsList.vue";
import { getParam } from "@/util.js";
export default {
  name: "handbook",
  data() {
    return {
      activeName: "0",
      list: [],
      param: {},
      typeName: "强直性脊柱炎",
      position_name: "强直性脊柱炎",
      tabList: ["RA用药", "RA诊疗", "日常管理"]
    };
  },
  components: {
    navBar,
    footerBar,
    newsList
  },
  mounted() {
    this.param.type = getParam().type;
    if (this.param.type) {
      switch (this.param.type) {
        case "0":
          this.typeName = "强直性脊柱炎";
          this.position_name = "强直性脊柱炎";
          this.tabList = ["强直诊疗", "强直用药", "康复锻炼", "日常护理"];

          break;
        case "1":
          this.typeName = "类风湿关节炎";
          this.position_name = "类风湿关节炎";
          this.tabList = ["RA用药", "RA诊疗", "日常管理"];

          break;
        case "2":
          this.typeName = "银屑病";
          this.position_name = "银屑病";
          this.tabList = ["用药指导"];
          break;
        case "3":
          this.typeName = "克罗恩病";
          this.position_name = "克罗恩病";
          this.tabList = ["用药指导"];
          break;
        case "4":
          this.typeName = "葡萄膜炎";
          this.position_name = "葡萄膜炎";
          this.tabList = ["用药指导"];
          break;
        case "5":
          this.typeName = "名医乐讲堂";
          this.position_name = "名医乐讲堂";
          this.tabList = ["用药指导"];
          break;
        default:
          this.typeName = "强直性脊柱炎";
          this.position_name = "强直性脊柱炎";
          this.tabList = ["用药指导"];
          break;
      }
    }
  },
  created() {
    this.list = [
      {
        title: "打个喷嚏就骨折？风湿免疫疾病与骨质疏松的那些事",
        des:
          "近期有强友（强直性脊柱炎患者）反馈：心脏不舒服，有时候会有胸闷、呼吸不顺畅的现象，是因为用了生物制剂吗？但奇怪的是，有些没有使用生物制剂的强友也出现了这种情况，到底是什么引起的呢？一起来看看：",
        link: "https://mp.weixin.qq.com/s/GQ_buefdaLUdyeX_FwBonQ"
      },
      {
        title: "强友：心脏不舒服是怎么回事，能不能用生物制剂？",
        des:
          "近期有强友（强直性脊柱炎患者）反馈：心脏不舒服，有时候会有胸闷、呼吸不顺畅的现象，是因为用了生物制剂吗？但奇怪的是，有些没有使用生物制剂的强友也出现了这种情况，到底是什么引起的呢？一起来看看：",
        link: "https://mp.weixin.qq.com/s/GQ_buefdaLUdyeX_FwBonQ"
      },
      {
        title: "“拍片”检查为什么对强直患者至关重要？X光片、CT，MRI该选哪个？",
        des: "The Britsh Society for Rheumatology",
        link: "https://mp.weixin.qq.com/s/GQ_buefdaLUdyeX_FwBonQ"
      },
      {
        title: "“拍片”检查为什么对强直患者至关重要？X光片、CT，MRI该选哪个？",
        des:
          "强直性脊柱炎（以下简称“强直”）是以骶髂关节和脊柱附着点，中轴骨骼炎症为重要症状的一种慢性、进展性风湿疾病。它的病变多数由骶髂关节开始，逐渐向上侵犯腰椎、胸椎及颈椎。",
        link: "https://mp.weixin.qq.com/s/GQ_buefdaLUdyeX_FwBonQ"
      }
    ];
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
    clickList(e) {
      console.log("e", e);
      window.open(e[0].link);
    },
    changePage(val) {
      console.log("val", val)
      // document.getElementById("here").scrollIntoView();
    }
  },
  computed: {}
};
</script>


<style lang="less">
.airticle {
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/article_bg.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .news_content {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 7rem;
    .news_container {
      // margin-top: 2rem;
    }
  }
}
</style>

