<template>
  <div class="inject_page">
    <!-- 导航 -->
    <nav-bar :activeIndex="1"></nav-bar>
    <div class="banner">
      <div class="banner_text">
        格乐立
        <span class="right_text">®</span>注射操作指南
      </div>
    </div>
    <div class="main_container">
      <div class="position">
        您当前所在位置：
        <span class="tabName">关于格乐立</span> >
        <span class="tabName">注射视频操作</span>
      </div>
      <div class="video_content">
        <div class="title">格乐立注射视频</div>
        <div class="video" @click="playVideo">
          <video
            id="injectVideo"
            src="http://qletli.maiduote.com/uploads/video/inject.mp4"
            class="video_tag"
            poster="@/assets/video_bg.png"
          >当前浏览器不支持视频播放</video>
          <div v-if="!playing" class="video_play"></div>
        </div>
      </div>
      <div class="inject_content">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="注射前" name="first">
            <div class="tab_content inject_before">
              <div class="inject_text">
                <div class="title">
                  <span class="circle"></span>注射前注意事项
                </div>
                <div class="des_wrap">
                  <div class="des">本品的治疗应在具有相关适应症诊断和治疗经验的专科医生的指导监控下进行。</div>
                  <div class="des">对于那些治疗医师认为适当，并能在必要时进行医疗随访的患者，在接受了正确注射技术培训后, 可以自行注射给药。</div>
                </div>
              </div>
              <div class="inject_text">
                <div class="title">
                  <span class="circle"></span>注射前准备
                </div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">
                      1. 准备所需物品：格乐立
                      <span class="right_text">®</span>预填充式注射器、包装附带的酒精棉片、无菌棉签。
                    </div>
                    <div class="des">2. 可将格乐立预填充式注射器放置在室温下15-30分钟，在达到室温前不要取下针帽。</div>
                    <div class="des">3. 检查药品有效期和注射器内液面位置是否在标示刻度线处。</div>
                    <div class="des">4. 检查注射器外表与药品性状：格乐立（阿达木单抗注射液）正常状态下应为预填充于注射器中的澄明液体。</div>
                    <div class="des">5. 洁净双手。</div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/inject_before.png" alt />
                  </div>
                </div>
              </div>
              <div class="btn" @click="next('second')">→ 继续阅读“注射过程”</div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="注射过程" name="second">
            <div class="tab_content inject_doing">
              <div class="inject_text">
                <div class="title">01/选择注射点</div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">可选择在下腹部、大腿前部进行注射。</div>
                    <div class="des">需注意：</div>
                    <div class="des">1. 注射部位距离肚脐至少3厘米，每个注射点距离上一次注射点至少2.5厘米。</div>
                    <div class="des">2. 不要在出现疼痛、淤青、红肿、僵硬、疤痕、鳞屑斑块、损伤或者妊娠纹的部位进行注射。</div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/inject_pointe.png" alt />
                  </div>
                </div>
              </div>
              <div class="inject_text">
                <div class="title">02/消毒</div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">使用包装内附带的酒精棉片以画圈方式消毒拟注射区的皮肤。注射之前，不要再次接触已消毒部位。</div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/xiaodu.png" alt />
                  </div>
                </div>
              </div>
              <div class="inject_text">
                <div class="title">03/拔下针套</div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">
                      一只手握住格乐立
                      <span class="right_text">®</span>预填充式注射器中央部位，用另一只手拔下针套。注意不要触碰针头，不要重新盖回针套，因为这可能会损伤内部的针头。
                    </div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/pull.png" alt />
                  </div>
                </div>
              </div>
              <div class="inject_text">
                <div class="title">04/排出空气</div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">针尖向上，缓慢轻推注射器，将针内空气排出。注意排气时不要浪费液体。</div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/air.png" alt />
                  </div>
                </div>
              </div>
              <div class="inject_text inject_step">
                <div class="title">05/注射</div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">1. 一只手捏起已消毒的注射部位皮肤，另一只手翻转注射器，针尖朝下将针头以45°角度快速斜刺入皮肤；</div>
                    <div class="des">2. 放开捏起皮肤的手，缓慢持续按压注射器，直至药物推注完毕。注射时禁止回抽注射器拉杆。</div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/inject_step1.png" alt />
                  </div>
                </div>
              </div>
              <div class="inject_text">
                <div class="title">06/按压</div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">1. 从注射部位拔出针后，用无菌棉签轻按注射部位10秒。少量血液流出是正常现象。请不要揉搓注射部位。</div>
                    <div class="des">2. 如果需要可以贴医用创口贴。</div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/press.png" alt />
                  </div>
                </div>
              </div>
              <div class="inject_text">
                <div class="title">07/处理医用废物</div>
                <div class="inject_step_item">
                  <div class="des_wrap">
                    <div class="des">预充针仅供一名患者单次使用，完成注射后将其丢弃至专门容器中。该容器须在儿童触及及视线范围外。</div>
                  </div>
                  <div class="inject_img">
                    <img src="@/assets/trash.png" alt />
                  </div>
                </div>
              </div>
              <div class="btn" @click="next('third')">→ 继续阅读“注射后”</div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="注射后" name="third">
            <div class="tab_content inject_after">
              <div class="inject_text">
                <div class="title">
                  <span class="circle"></span>注射后注意事项
                </div>
                <div class="des_wrap">
                  <div class="des">1. 注射部位可能出现发红、皮疹、肿胀、发痒或挫伤，如症状在几天内没有消退或者病情发展，请立即到医院就诊。</div>
                  <div class="des">2. 记录注射日期和注射部位，有助于下次注射前提醒患者。</div>
                </div>
                <div class="inject_img">
                  <img src="@/assets/inject_after1.png" alt />
                  <img src="@/assets/inject_after2.png" alt />
                </div>
              </div>
              <div class="inject_text">
                <div class="title">
                  <span class="circle"></span>储藏与运输
                </div>
                <div class="des_wrap">
                  <div class="des">1. 储藏</div>
                  <div class="des">本品应存放于儿童不能接触到的地方。</div>
                  <div class="des">患者使用时：通常情况下需冷藏储存（2~8℃）。</div>
                  <div class="des">如有特殊需要，可在常温（≤25℃）条件下储存14天，须避光保存，且不可再返回冷藏储存（2~8℃）。</div>
                  <div class="des">如果在14天内没有使用或储存温度超过25℃应丢弃。</div>

                  <br />
                  <div class="des">2. 运输</div>
                  <div class="des">运输过程中：冷藏储存（2~8℃），注射器应保存在包装盒内，不能进行冷冻。</div>
                </div>
                <div class="inject_img pro_num">
                  <img src="@/assets/pro_num.png" alt />
                </div>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>

    <!-- 底部 -->
    <footer-bar></footer-bar>
    <!-- 视频弹窗 -->
    <div class="video" v-if="showVideo">
      <video-mask @closeVideo="closeVideo"></video-mask>
    </div>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
import videoMask from "@/components/videoMask.vue";
export default {
  name: "injectVideo",
  data() {
    return {
      activeName: "first",
      playing: false,
      showVideo: false
    };
  },
  components: {
    navBar,
    footerBar,
    videoMask
  },
  mounted() {},
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
    next(name) {
      this.activeName = name;
    },
    playVideo() {
      // var video = document.getElementById("injectVideo");
      // this.playing = true;
      // video.play();
      this.showVideo = true
    },
    closeVideo() {
      this.showVideo = false
    }
  }
};
</script>


<style lang="less">
.inject_page {
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/inject_banner_bg.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .page_bg {
    width: 80%;
    height: 20rem;
    background: url("../../../assets/inject_bg.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .tab_content {
    // margin-top: 2rem;
  }
  .video_content {
    margin-top: 2.28rem;
    margin-bottom: 3rem;
    .title {
      text-align: center;
      font-weight: 500;
      color: #333333;
      margin-bottom: 1.2rem;

      font-size: 1.37rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 1.91rem;
    }
    .video {
      width: 60%;
      margin: 0 auto;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .video_tag {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
      .video_play {
        width: 5.55rem;
        height: 5.55rem;
        position: absolute;
        z-index: 999;
        background: url("../../../assets/reg_icon_play.png") no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
      }
    }
  }

  .inject_content {
    margin: 2rem auto 0;

    .inject_text {
      .inject_step_item {
        display: flex;
        justify-content: space-between;
      }
      .inject_img {
        img {
          width: 15rem;
          height: 9rem;
        }
      }
      .circle {
        width: 5px;
        height: 5px;
        background: #3554aa;
        border-radius: 100%;
        margin-right: 0.5rem;
      }
      .title {
        font-size: 1rem;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 1.8rem;
        display: inline-flex;
        align-items: center;
      }
      .des_wrap {
        width: 50%;
        padding: 1rem 0;
        font-size: 1rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        line-height: 1.8rem;

        .des {
          .right_text {
            font-size: 0.5rem;
            position: relative;
            top: -0.4rem;
            left: -0.3rem;
          }
        }
      }
    }
    .inject_step {
      .inject_step_item {
        flex-direction: column;
      }
      .inject_img {
        img {
          width: 100%;
          height: 10rem;
        }
      }
    }
    .btn {
      float: left;
      height: 2.5rem;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.4rem;
      cursor: pointer;
      margin: 2rem auto;
      border: 1px solid #00478c;

      font-size: 0.8rem;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      color: #00478c;
      line-height: 0.91rem;
    }
  }
  .inject_content {
    .inject_before {
      position: relative;
      padding-top: 1.32rem;
      .inject_img {
        position: absolute;
        right: 0;
        bottom: 0;
        img {
          width: 23.55rem;
          height: 14rem;
        }
      }
    }
    .inject_doing {
      .title {
        border-bottom: 2px solid #3554aa;
      }
      .inject_text {
        padding: 1.32rem 0;
        border-bottom: 1px solid #d8d8d8;
      }
    }
    .inject_after {
      .inject_text {
        padding: 2.32rem 0;
        border-bottom: 1px solid #d8d8d8;
        .des_wrap {
          width: 100%;
        }
        .inject_img {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            margin: 1rem 2rem;
            margin-bottom: 0;
          }
        }
        .pro_num {
          display: flex;
          justify-content: flex-start;
          img {
            width: 15rem;
            height: 6rem;
            margin-left: 0;
          }
        }
      }
    }
  }
}
</style>

