<template>
  <div class="lecture_page">
    <!-- 导航 -->
    <nav-bar :activeIndex="3"></nav-bar>
    <div class="banner">
      <div class="banner_text">名医乐讲堂</div>
    </div>
    <div class="lecture main_container">
      <div class="position">
        您当前所在位置：
        <span class="tabName">患者专栏</span> >
        <span class="tabName">名医乐讲堂</span>
      </div>
      <!-- 最新直播 -->
      <div class="recent_live">
        <div class="title">最新直播</div>
        <div class="video_container">
          <video-item :list="recentList"></video-item>
        </div>
      </div>
      <!-- 直播回看 -->
      <div class="live_review" id="here">
        <div class="title">直播回看</div>
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane v-for="(item, index) in tabList" :key="item" :name="''+index" :label="item">
            <div class="video_container">
              <video-item :list="liveReviewList"></video-item>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <div class="pagination">
      <el-pagination
        @current-change="changePage"
        :page-size="20"
        background
        layout="prev, pager, next"
        :total="100"
      ></el-pagination>
    </div>
    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
import videoItem from "@/components/videoItem.vue";
export default {
  name: "lecture",
  data() {
    return {
      activeName: "0",
      recentList: [],
      liveReviewList: [],
      tabList: [
        "强直性脊柱炎",
        "类风湿关节炎",
        "银屑病",
        "克罗恩病",
        "葡萄膜炎"
      ]
    };
  },
  components: {
    navBar,
    footerBar,
    videoItem
  },
  mounted() {
    this.liveReviewList = [
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      },
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      },
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      },
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      },
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      }
    ];
    this.recentList = [
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      },
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      },
      {
        title: "深度解析银屑病关节炎的诊断与生物制剂治疗新趋势",
        des: "上海市第六人民医院风湿免疫科 戴生明 主任医师",
        date: "6月3日",
        time: "下午15:30-16:30",
        times: "300",
        link:
          "https://appr5irqsat8174.h5.xiaoeknow.com/v1/course/alive/l_5ecc7426d1296_7zwT6hAX?type=2&app_id=appr5IrqsAt8174&is_redirect=1"
      }
    ];
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
    changePage(val) {
      console.log("val", val)
      // document.getElementById("here").scrollIntoView();
    }
  }
};
</script>


<style lang="less">
.lecture_page {
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/lecture_bg.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .lecture {
    .news_content {
      width: 65%;
      margin: 0 auto;
      margin-bottom: 7rem;
      .news_container {
        // margin-top: 2rem;
      }
    }
    .video_container {
      margin-top: 2rem;
    }
    .recent_live {
      margin-top: 2rem;
    }
    .live_review {
      margin: 2rem 0;
    }
    .title {
      font-size: 1.4rem;
      color: #333333;
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }
}
</style>

