<template>
  <div class="literature">
    <!-- 导航 -->
    <nav-bar :activeIndex="2"></nav-bar>
    <div class="banner">
      <div class="banner_text">
        格乐立
        <span class="right_text">®</span>相关文献
      </div>
    </div>
    <div class="news_content main_container" id="here">
      <div class="position">
        您当前所在位置：
        <span class="tabName">医生专栏</span> >
        <span class="tabName">相关文献</span>
      </div>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane v-for="(item, index) in tabList" :key="index" :name="''+item" :label="item">
          <div class="news_container">
            <news-list :list="list" @clickList="clickList(arguments)"></news-list>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
    <div class="pagination">
      <el-pagination
        @current-change="changePage"
        :page-size="pageSize"
        background
        layout="prev, pager, next"
        :total="total"
      ></el-pagination>
    </div>
    <!-- 底部 -->
    <footer-bar></footer-bar>
  </div>
</template>

<script>
import navBar from "@/components/navBar.vue";
import footerBar from "@/components/footerBar.vue";
import newsList from "@/components/newsList.vue";
import { getDoctorList } from "@/server.js";

export default {
  name: "literature",
  data() {
    return {
      activeName: "强直性脊柱炎",
      currentPage: 1,
      pageSize: 10,
      total: 0,
      list: [],
      tabList: [
        "强直性脊柱炎",
        "类风湿关节炎",
        "银屑病",
        "克罗恩病",
        "葡萄膜炎"
      ]
    };
  },
  components: {
    navBar,
    footerBar,
    newsList
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      let query = {
        ftype: "相关文献",
        disease: this.activeName || "强直性脊柱炎",
        per_page: this.pageSize,
        page_index: this.currentPage
      };
      getDoctorList(query).then(res => {
        console.log("data", res.data);
        if (res.code == 0) {
          res.data.forEach(item => {
            item.pic =
              "https://maiduote.oss-cn-shenzhen.aliyuncs.com/mdt/gll/image/pdf.png";
          });
          this.list = res.data;
          this.total = this.currentPage == 1 ? res.total : this.total;
        }
      });
    },
    handleClick() {
      this.currentPage = 1
      this.getList();
    },
    clickList(e) {
      console.log("e", e[0].link);
      let url = window.location.href;
      let openUrl = url.replace(/literature/, "document");
      let id = e[0]._id;

      window.location.href = `${openUrl}?id=${encodeURIComponent(id)}&type=2`;
    },
    changePage(val) {
      this.currentPage = val;
      this.getList()
    }
  }
};
</script>


<style lang="less">
.literature {
  .banner {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/literature_bg.png");
    .banner_text {
      font-size: 1.8rem;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #ffffff;
      line-height: 2.95rem;
    }
    .right_text {
      font-size: 1.2rem;
      position: relative;
      top: -1.1rem;
      left: -0.6rem;
    }
  }
  .news_content {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 7rem;
    .news_container {
      // margin-top: 2rem;
    }
  }
}
</style>

